/** ----- General Styles ----- **/

:root{

    /** ---- Colors ---- **/
    --primaryColor: #121212;
    --secondaryColor: #007DB8;
    --thirdColor: #f7f7f7;
    --fourthColor: #ababab;
    --fifthColor: #262626;
    
    /** ---- Fonts ---- **/
    --dmSans: 'DM Sans', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--dmSans);
    font-weight: 500;
}

body{
    font-size: 18px;
    background: var(--primaryColor);
    color: var(--thirdColor);
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

button{
    background: none;
    border: none;
}

.blue{
    color: var(--secondaryColor);
}

.container{
    padding: 10px 10%;
}

/** ----- Scrollbar ----- **/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primaryColor);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--thirdColor);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondaryColor);
}

/** ----- Header ----- **/

#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-gbimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/** ---- Nav - Menu ---- **/

.main-title{
    font-weight: 500;
    margin: 0;
}

nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    z-index: 1;
}

nav .fa-solid{
    display: none;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--secondaryColor);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav #side-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-switch{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.toggler{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 25px;
    background-color: var(--secondaryColor);
    border-radius: 25px;
    margin: 0 1rem;
    position: relative;
}

.toggler::before{
    content: "";
    width: 16px;
    height: 16px;
    background-color: var(--thirdColor);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    transition: .2s;
}

.toggler:checked::before{
    left: 55%;
}

.header-text{
    display: block;
    margin-top: 20%;
    font-size: 30px;
}

.header-text h2{
    font-size: 60px;
    margin: 20px 0;
}

.typed-container{
    display: inline-block;
}

.typed-out{
    overflow: hidden;
    border-right: 3px solid var(--secondaryColor);
    padding-right: 5px;
    font-size: 1.6rem;
    width: 0;
    white-space: nowrap;
    animation: typing 2.5s steps(20, end) forwards, blink 1.5s infinite;  
}

.typed-out--second{
    animation: typing 2.5s steps(20, end) forwards, blink 1.5s infinite;
    animation-delay: 3s;
}

@keyframes typing{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

@keyframes blink{
    from { 
        border-color: transparent 
    }
    to {
        border-color: var(--secondaryColor); 
    }
}

/** ----- Main ----- **/

/** ---- About ---- **/

#about{
    padding: 80px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 3.75em;
}

.about-paragraph{
    margin-bottom: 15px;
    font-weight: 400;
    color: var(--fourthColor);
    line-height: 1.5;
}

.tab-title{
    margin: 20px 0 40px;
}

.tab-link{
    margin-right: 50px;
    font-size: 1.125em;
    position: relative;
}

.tab-link::after{
    content: "";
    width: 5%;
    height: 3px;
    background-color: var(--secondaryColor);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.tab-content{
    margin-bottom: 20px;
}

.tab-content p{
    margin-bottom: 12px;
}

.tab-content ul{
    display: flex;
    flex-direction: row;
}

.tab-content ul li{
    margin-right: 30px;
    color: var(--fourthColor);
}

/** ---- Services ---- **/

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.services-list div{
    background: var(--fifthColor);
    padding: 40px;
    font-size: .813rem;
    border-radius: 10px;
    transition: background-color .25s, transform .25s;
}

.services-list div h3{
    font-size: 1.875rem;
    margin-bottom: 15px;
    font-weight: 500;
}

.services-list div p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.services-list div i{
    font-size: 3.125rem;
    margin-bottom: 30px;
}

.services-list div:hover{
    background-color: var(--secondaryColor);
    transform: translateY(-10px);
}

/** ---- Portfolio ---- **/

#portfolio{
    padding: 50px 0;
}

.portfolio-attribution{
    font-weight: 400;
    margin-top: 10px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    transition: transform .25s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0 0 0 / 0.6), var(--secondaryColor));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: .875rem;
    transition: height .25s
}

.layer h3{
    font-size: 2em;
}

.layer p{
    font-size: 1.2em;
}

.layer h3, .layer p{
    margin-bottom: 20px;
}

.layer a{
    display: inline-block;
    margin: 10px;
    font-size: 1.5rem;
    color: var(--secondaryColor);
    background-color: var(--thirdColor);
    padding: 25px;
    border-radius: 50%;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    width: fit-content;
    padding: 14px 40px;
    border-radius: 6px;
    transition: background-color .25s;
    cursor: pointer;
    display: inline-block;
    background-color: var(--secondaryColor);
    color: var(--thirdColor);
    margin-bottom: 50px;
    transition: transform .25s;
}

.btn:hover{
    transform: scale(1.1);
}
  

/** ---- Contact ---- **/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: var(--secondaryColor);
    margin-right: 15px;
    font-size: 1.563rem;
}

.social-icons{
    margin: 30px 0;
}

.social-icons a{
    font-size: 1.875rem;
    margin-right: 15px;
    color: var(--fourthColor);
    display: inline-block;
    transition: color .25s, transform .25s;
}

.social-icons a:hover{
    color: var(--secondaryColor);
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--fifthColor);
    padding: 15px;
    margin: 15px 0;
    color: var(--thirdColor);
    font-size: 1.125rem;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: var(--fifthColor);
    line-height: 1.5;
}

.copyright i{
    color: var(--secondaryColor);
}

/** ----- Responsive ----- **/

@media only screen and (min-width: 2150px){
    .container{
        padding: 10px 20%;
    }
}

@media only screen and (max-width: 1195px){

    /** --- Contact --- **/

    .download-btn{
        margin: 0 50px 50px 0;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    /** --- Portfolio --- **/
    
    .work-list{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .layer h3{
        font-size: 1.5em;
    }
    
    .layer p{
        font-size: 1em;
    }
    
    .layer h3, .layer p{
        margin-bottom: 15px;
    }

    .layer a{
        font-size: 1rem;
        padding: 10px;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 1020px){
    
    /** --- Nav - Menu --- **/

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: var(--secondaryColor);
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .3s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav #side-menu{
        display: block;
    }

    .toggle-switch{
        justify-content: start;
    }

    .toggler{
        background-color: var(--thirdColor);
    }

    .toggler::before{
        background-color: var(--secondaryColor);
    }

    .header-text h2{
        font-size: 1.5rem;
    }

    .typed-out{
        font-size: 1.2rem;
    }



}

@media only screen and (max-width: 600px){
    
    /** ---- Header ---- **/

    .header-text{
        margin-top: 100%;
        font-size: 1rem;
    }

    .header-text h2{
        font-size: 1.875rem;
    }

    /** --- About --- **/

    .subtitle{
        font-size:  2.5rem;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: .875rem;
    }

    .tab-link{
        font-size: 1rem;
        margin-right: 20px;
    }

    /** --- Portfolio --- **/

    .btn{
        padding: 14px 40px
    }
}